$dialogWidth: 400px !default;
$dialogHeaderHeight: 24px !default;
$dialogHeight: 250px !default;
$dialogBorderWidth: 2px !default;
$dialogFooterHeight: 24px !default;

.c_dlg{
	position: absolute;
	top:50%;
	left:50%;
	width:$dialogWidth;
	height:$dialogHeight;
	margin-top:($dialogHeight + $dialogBorderWidth*2) / -2;
	margin-left:($dialogWidth + $dialogBorderWidth*2) / -2;
	background:#fff;
	border:$dialogBorderWidth solid #000;
}

.c_dlg_header{
	height:$dialogHeaderHeight;
	line-height:$dialogHeaderHeight;
	background:#369;
	color:#eee;
}

.c_dlg_footer{
	height:$dialogFooterHeight;
	line-height:$dialogFooterHeight;
	text-align:right;
}

.c_dlg_body{
	height:$dialogHeight - $dialogHeaderHeight - $dialogFooterHeight;
}