.com_URLOpener{
	line-height:1.5em;
	font-size:1em;

	label{
		font-weight:bold;
		display:inline-block;
		margin-right:12px;
	}

	input{
		margin-right:12px;
	}

	input.err{
		background:#ff9999;
	}
}